<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all movies
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new movie
    </h2>

    <form action="/insert_movie" method="post">
      <div class="form-group">
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="title_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="year_box">
          Year
        </label>

        <input type="text" id="year_box" name="year_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="description_from_query" class="form-control" rows="3"></textarea>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="released_box" name="released_from_query" value="1">

        <label class="custom-control-label" for="released_box">Released</label>
      </div>

      <div class="form-group">
        <label for="a_time_box">
          A time
        </label>

        <input type="time" id="a_time_box" name="a_time_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="a_date_box">
          A date
        </label>

        <input type="date" id="a_date_box" name="a_date_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="a_datetime_box">
          A datetime
        </label>

        <input type="datetime-local" id="a_datetime_box" name="a_datetime_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create movie
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Year
        </th>

        <th>
          Description
        </th>

        <th>
          Released
        </th>

        <th>
          A time
        </th>

        <th>
          A date
        </th>

        <th>
          A datetime
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.id %>
        </td>

        <td>
          <%= movie.title %>
        </td>

        <td>
          <%= movie.year %>
        </td>

        <td>
          <%= movie.description %>
        </td>

        <td>
          <%= movie.released %>
        </td>

        <td>
          <%= movie.a_time %>
        </td>

        <td>
          <%= movie.a_date %>
        </td>

        <td>
          <%= movie.a_datetime %>
        </td>

        <td>
          <%= time_ago_in_words(movie.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(movie.updated_at) %> ago
        </td>

        <td>
          <a href="/movies/<%= movie.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
